.TableItemsBody {
    margin: 30px;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
}

.buttonAdd {
    border-radius: 5px;
    min-width: 460px;
    margin-block: 5px;
    border: #cccccc solid 1px;
}
