.Table {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    width: 50%;
    max-width: calc(100% - 230px);
    min-width: 200px;
    padding-left: 4px;
    height: 100%;
    left: 0;
    background-color: #ffffff;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.tableItems{
    overflow: auto;
    width: 100%;
}

.resize {
    background-color: #ccc;
    position: absolute;
    right: -15px;
    width: 15px;
    height: 100%;
    cursor: col-resize;
    z-index: 10;
}
